{% extends 'base.html.twig' %}

{% block title %}Nos Services Plombier à Bordeaux - A L'EAU RULLEAU 33{% endblock %}
{% block meta_description %}
Découvrez nos services de plomberie, rénovation de salle de bains, volets roulants solaires et débouchage à Bordeaux et
en Gironde. Intervention rapide et garantie.
{% endblock %}
{% block og_title %}Découvrez nos services de plomberie à Bordeaux{% endblock %}
{% block og_description %}Fuites, dépannage, rénovation, volets roulants, vitrage... A L'EAU RULLEAU 33 intervient rapidement en Gironde.{% endblock %}
{% block body %}

<section class="services">
    <h1 class="visually-hidden">Services de plomberie, rénovation et entretien à Bordeaux - A L'EAU RULLEAU 33</h1>
    <h2>Nos services de plomberie et rénovation à Bordeaux</h2>

    <p> Basée à Bordeaux, notre entreprise A L'EAU RULLEAU 33 vous propose une gamme complète de services
        pour vos travaux de plomberie, rénovation et entretien. Nous intervenons rapidement dans toute la Gironde.</p>

    <article class="service">
        <img src="{{ asset('images/vollet.webp')}}" alt="Installation de volets roulants solaires à Bordeaux"
            loading="lazy" width="1024" height="1024">
        <div class="service-content">
            <h3>Pose de Volets Roulants Solaires</h3>
            <p>
                Améliorez l'isolation et le confort de votre habitation grâce à nos volets roulants solaires.
                À Bordeaux et en Gironde, nous vous accompagnons de l’étude à l’installation, avec des solutions sur
                mesure, performantes et éco-responsables.
                Fini les câbles et branchements complexes : profitez d’un système autonome, silencieux et esthétique.
            </p>

        </div>
    </article>

    <article class="service">
        <img src="{{ asset('images/salledb.webp')}}" alt="Rénovation de salle de bains Bordeaux" loading="lazy"
            width="1024" height="1024">
        <div class="service-content">
            <h3>Rénovation de Salle de Bains</h3>
            <p>
                Transformez votre salle de bains en un espace moderne, pratique et agréable à vivre.
                A L'EAU RULLEAU 33 vous accompagne à Bordeaux pour la rénovation complète : plomberie, carrelage,
                installation de sanitaires et mobilier.
                Nous créons des salles de bains accessibles, design ou classiques, selon vos envies et votre budget.
            </p>

        </div>
    </article>

    <article class="service">
        <img src="{{ asset('images/key.webp')}}" alt="Changement de serrure Bordeaux" loading="lazy" width="1024"
            height="1024">
        <div class="service-content">
            <h3>Remplacement et dépannage de Serrures</h3>
            <p>
                Vous êtes bloqué dehors ou votre serrure ne fonctionne plus ?
                Nous intervenons rapidement sur Bordeaux et ses environs pour le remplacement, la réparation ou le
                renforcement de vos serrures.
                Sécurité, fiabilité et intervention d’urgence 7j/7 : votre tranquillité est notre priorité.
            </p>

        </div>
    </article>

    <article class="service">
        <img src="{{ asset('images/plomberie.webp')}}" alt="Plomberie Bordeaux et Entretien de Chaudière" loading="lazy"
            width="1024" height="1024">
        <div class="service-content">
            <h3>Plomberie et Entretien de Chaudière</h3>
            <p>
                Nos plombiers professionnels réalisent l'installation, la réparation et l'entretien de vos équipements
                sanitaires et de chauffage à Bordeaux et en Gironde.
                Nous assurons également la maintenance de vos chaudières pour garantir sécurité et performance
                énergétique toute l’année.
                Intervention rapide et travail soigné.
            </p>

        </div>
    </article>

    <article class="service">
        <img src="{{ asset('images/fuite.webp')}}" alt="Détection de fuites Bordeaux" loading="lazy" width="1024"
            height="1024">
        <div class="service-content">
            <h3>Détection de Fuites</h3>
            <p>
                Une fuite d’eau peut engendrer des dégâts importants et une surconsommation d’eau.
                À l’aide d’outils de détection non destructifs (caméra thermique, gaz traceur), nous localisons
                précisément l’origine de la fuite.
                Intervention rapide à Bordeaux et dans les communes alentours.
            </p>

        </div>
    </article>

    <article class="service">
        <img src="{{ asset('images/debou.webp')}}" alt="Débouchage canalisation Bordeaux" loading="lazy" width="1024"
            height="1024">

        <div class="service-content">
            <h3>Débouchage de canalisations</h3>
            <p>
                WC bouché, évier qui déborde, baignoire qui ne se vide plus ?
                Nos plombiers interviennent rapidement à Bordeaux pour déboucher tous types de canalisations, en urgence
                ou sur rendez-vous.
                Nous utilisons des techniques efficaces et respectueuses de vos installations.
            </p>

        </div>
    </article>

    <article class="service">
        <img src="{{ asset('images/cam.webp')}}" alt="Inspection caméra canalisation Bordeaux" loading="lazy"
            width="1024" height="1024">
        <div class="service-content">
            <h3>Inspection caméra des canalisations</h3>
            <p>
                L’inspection vidéo permet de visualiser l’intérieur de vos canalisations pour détecter un bouchon, une
                cassure ou une fuite.
                Nous utilisons une caméra endoscopique haute définition pour un diagnostic précis, sans casser ni
                creuser.
                Un service rapide, propre et efficace à Bordeaux et alentours.
            </p>

        </div>
    </article>
</section>


{% endblock %}